<a href="https://colab.research.google.com/github/tomcat472/pandas_mm/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexing and Slicing

ပထမပိုင်းတုန်းက file များကို read လုပ်ခြင်းနှင့် basic method များကို လုပ်ပြီးသောအခါ ခုဆက်သွားမှာက indexing,slicing ကို ဆက်လုပ်သွားမှာဖြစ်ပါတယ်။ သူက python list ရဲ့ သဘောသဘာဝအတိုင်းပဲဖြစ်ပါတယ်။
အဲ့တာမို့ list သဘောသဘာဝကို အရင်နားလည်အောင်လုပ်ရပါမယ်။

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Python List

In [ ]:
A=[1,2,3,4,5,6,7,8] #create new list A
A

[1, 2, 3, 4, 5, 6, 7, 8]

### Indexing

list မှာ element တွေက [1,2,3,4] ဆိုရင် သူတို့ရဲ location index တွေက (0,1,2,3) ဖြစ်ပါတယ်။ သူ့ရဲ့ location index တွေကို သုံးပြီး value များကို output ထုတ်ဖို့လုပ်မှာဖြစ်ပါတယ်။

In [ ]:
A[0] #A ရဲ့ location index 0 နေရာမှာရှိတဲ့ တန်ဖိုးကို ထုတ်ခြင်း

1

In [ ]:
A[7]

8

location index တွေကို အနောက်ကနေထုတ်မယ်ဆိုရင် negative တန်ဘိုးနဲ့ထုတ်ရတာဖြစ်ပြီး အနောက်ဆုံးဂဏန်းက -1 ဖြစ်ပါတယ်။

In [ ]:
A[-1]

8

In [ ]:
A[-2]

7

### Slicing

slicing ရဲ့ သဘောသဘာဝက (start,stop) ဖြစ်ပါတယ်။ သဘောတရားက start နေရာက တန်ဖိုးကနေစပြီး stop မတိုင်ခင်ရှိတဲ့ value ထိ ယူပါတယ်။

In [ ]:
#location index 0 မှ 5 အတွင်းရှိ တန်ဖိုးများအား output ထုတ်ခြင်း
A[0:5]
# ဒီမှာဆိုရင် location index 0 က စပြီးတော့ 5 မှာဆုံးတယ့်အတွက်  သူ့ output ကို 0 ကနေ 4 ထိထုတ်ပေးပါတယ်။

[1, 2, 3, 4, 5]

In [ ]:
#location index 3 မှ 5 အတွင်းရှိ တန်ဖိုးများအား output ထုတ်ခြင်း
A[3:5]

[4, 5]

In [ ]:
A[:]
#ဒီဟာက A ကို output ထုတ်တာနဲ့အတူတူပါပဲ။ ဘာလိုလဲဆိုတော့ A[0:0] ကြောင့်မို့ဖြစ်ပါတယ်။

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
A[0:-1]
#ဒီမှာဆိုရင် 0 ကနေ အနောက်ဆုံးဖြစ်တဲ့ -1 မတိုင်ခင်ကို ထုတ်ပေးပါတယ်။

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
A[0:-3]
#ဒီမှာဆိုရင် 0 ကနေ အနောက်ဆုံးဖြစ်တဲ့ -3 မတိုင်ခင်ကို ထုတ်ပေးပါတယ်။

[1, 2, 3, 4, 5]

ဒီလောက်သဘောပေါက်ရင် slicing မှာက (start,stop,step)ဆိုပြီးလည်း သွားလို့ရပါတယ်။ step ဆိုတာ ကိုယ်သွားချင်တဲ့ပုံစံမျိုးကို သတ်မှတ်ပေးရမှာဖြစ်ပါတယ်။

In [ ]:
A[0:7:2]
# ဒီမှာဆိုရင် A ထဲမှာရှိတဲ့ element တွေကို 2 လုံးခြားပြီးထုတ်ပေးတာဖြစ်ပါတယ်။

[1, 3, 5, 7]

### List ကို update လုပ်ခြင်း

In [ ]:
# append method သုံးပြီး element ထည့်ခြင်း (တခုသိထားရမှာက list ဟာ mutable(changeble) ဖြစ်ပြီး element တွေပါဝင်တဲ့ ordered sequence ဖြစ်ပါတယ်။ )
#mutable ဖြစ်တာကြောင့်မို့ element တွေကို update လုပ်လို့ရတာဖြစ်ပါတယ်။
A.append(1)
A

[1, 2, 3, 4, 5, 6, 7, 8, 1]

list ထဲကို append method နဲ့ element အများအပြားထည့်ပါက error (သို့) အောက်ဖော်ပြပါ nested list ပုံစံမျိုးနဲ့သာ ရရှိမှာဖြစ်ပါတယ်။

In [ ]:
A.append([10,12])
A

[1, 2, 3, 4, 5, 6, 7, 8, 1, [10, 12]]

In [ ]:
A.append((20,30))
A

[1, 2, 3, 4, 5, 6, 7, 8, 1, [10, 12], (20, 30)]

extend method ကို elements အများအပြားထည့်မည်ဆိုပါက အသုံးပြုနိုင်ပါတယ်။

In [ ]:
B=[1,2,3,4,5]
B.extend([7,8,9])
B

[1, 2, 3, 4, 5, 7, 8, 9]

(+) sign ဖြင့် update လုပ်ခြင်း

In [ ]:
c=[3,4,5]
c+[1,2]

[3, 4, 5, 1, 2]

In [ ]:
c
#c ထဲကို element များမရောက်သွားတာလဲဆိုတော့ c ကို ပြန်ပြီး assign လုပ်ရဦးမှာကြောင့်မို့ ဖြစ်ပါတယ်။

[3, 4, 5]

In [ ]:
C=[1,2,3]
C=C+[4,5]
C

[1, 2, 3, 4, 5]

### For Loop သုံး၍ list ထဲမှ element များကို ကိုင်တွယ်ခြင်း

In [ ]:
D=[1,2,3,4,5]
for d in D:
  print(d)
#D ထဲမှာရှိတဲ့ elements တွေကို d လို့ယူဆပြီး print ထုတ်ခြင်း

1
2
3
4
5

In [ ]:
for d in D:
  print(d*3)
#D ထဲမှာရှိတဲ့ elements တွေကို 3ဖြင့် မြှောက်ပြီး print ထုတ်ခြင်း

3
6
9
12
15

In [ ]:
#for loop ကို ဒီလိုလဲ သုံးလို့ရပါတယ်။
[d*3 for d in D]

[3, 6, 9, 12, 15]

### Lambda fucntion

In [ ]:
#lambda function က python funciton ထဲမှာ အလွယ်ဆုံးဖြစ်ပါတယ်။ နောက်ပိုင်း function တွေသုံးရင်ပြန်ပြောပြပါ့မယ်။
x=lambda a: a*a
print(x(10))

100

In [ ]:
a=[1,2,3,4,5]
list(map(lambda x:x*5, a))
#lambda fun သုံးပြီး list ထဲက element များအား မြှောက်ခြင်း (numpy မှာကျတော့ သူ့ array ကို တန်းမြှောက်တာနဲ့ အဖြေထွက်ပါတယ်။ နောက်ကြုံရင်ပြောပါ့မယ်။)

[5, 10, 15, 20, 25]

### Removing Element

In [ ]:
M=[1,2,3,4,5]
print(M.pop()) #.pop method က နောက်ဆုံး element ကို ဖယ်ထုတ်တာဖြစ်ပါတယ်။
print(M)

5
[1, 2, 3, 4]

In [ ]:
print(M.remove(2))#remove ကကျတော့ ကိုယ်မရချင်တဲ့ဟာကို ဖယ်တာဖြစ်ပါတယ်။
print(M)

None
[1, 3, 4]

ဒီလောက်ဆိုရင် list နဲ့ပတ်သက်တဲ့ ယျေဘူယျကို သိပြီလို့ယူဆပါတယ်။ pandas ကိုဆက်ကြရအောင်။

## Pandas Slicing and Indexing

In [ ]:
import pandas as pd #pandas library ကို import လုပ်ခြင်း
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv') #reading csv file
df.head(3)#ထိပ်ဆုံး column (၃)ကို output ထုတ်ခြင်း

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [ ]:
df[100:110] #index 100 မှ 109 ထိ row များအားဆွဲထုတ်ခြင်း

     carat        cut color clarity  depth  table  price     x     y     z
100   0.75  Very Good     D     SI1   63.2   56.0   2760  5.80  5.75  3.65
101   0.75    Premium     E     SI1   59.9   54.0   2760  6.00  5.96  3.58
102   0.74      Ideal     G     SI1   61.6   55.0   2760  5.80  5.85  3.59
103   0.75    Premium     G     VS2   61.7   58.0   2760  5.85  5.79  3.59
104   0.80      Ideal     I     VS1   62.9   56.0   2760  5.94  5.87  3.72
105   0.75      Ideal     G     SI1   62.2   55.0   2760  5.87  5.80  3.63
106   0.80    Premium     G     SI1   63.0   59.0   2760  5.90  5.81  3.69
107   0.74      Ideal     I    VVS2   62.3   55.0   2761  5.77  5.81  3.61
108   0.81      Ideal     F     SI2   58.8   57.0   2761  6.14  6.11  3.60
109   0.59      Ideal     E    VVS2   62.0   55.0   2761  5.38  5.43  3.35

In [ ]:
#ကိုယ်ဆွဲထုတ်ထားတဲ့ df ကို data frame အသစ်အနေနဲ့လည်း သတ်မှတ်လို့ရပါတယ်။
#ဒီမှာကိုယ်ပြင်လိုက်တဲ့ တန်ဘိုးတွေက မူရင်း data frame ကို မထိခိုက်ပါဘူး။
new_df=df[100:110]
new_df

     carat        cut color clarity  depth  table  price     x     y     z
100   0.75  Very Good     D     SI1   63.2   56.0   2760  5.80  5.75  3.65
101   0.75    Premium     E     SI1   59.9   54.0   2760  6.00  5.96  3.58
102   0.74      Ideal     G     SI1   61.6   55.0   2760  5.80  5.85  3.59
103   0.75    Premium     G     VS2   61.7   58.0   2760  5.85  5.79  3.59
104   0.80      Ideal     I     VS1   62.9   56.0   2760  5.94  5.87  3.72
105   0.75      Ideal     G     SI1   62.2   55.0   2760  5.87  5.80  3.63
106   0.80    Premium     G     SI1   63.0   59.0   2760  5.90  5.81  3.69
107   0.74      Ideal     I    VVS2   62.3   55.0   2761  5.77  5.81  3.61
108   0.81      Ideal     F     SI2   58.8   57.0   2761  6.14  6.11  3.60
109   0.59      Ideal     E    VVS2   62.0   55.0   2761  5.38  5.43  3.35

In [ ]:
#ဒီနည်းနဲ့လည်း အသုံးပြုလို့ရပါတယ်။
new_df_copy=df[100:110].copy()
new_df_copy

     carat        cut color clarity  depth  table  price     x     y     z
100   0.75  Very Good     D     SI1   63.2   56.0   2760  5.80  5.75  3.65
101   0.75    Premium     E     SI1   59.9   54.0   2760  6.00  5.96  3.58
102   0.74      Ideal     G     SI1   61.6   55.0   2760  5.80  5.85  3.59
103   0.75    Premium     G     VS2   61.7   58.0   2760  5.85  5.79  3.59
104   0.80      Ideal     I     VS1   62.9   56.0   2760  5.94  5.87  3.72
105   0.75      Ideal     G     SI1   62.2   55.0   2760  5.87  5.80  3.63
106   0.80    Premium     G     SI1   63.0   59.0   2760  5.90  5.81  3.69
107   0.74      Ideal     I    VVS2   62.3   55.0   2761  5.77  5.81  3.61
108   0.81      Ideal     F     SI2   58.8   57.0   2761  6.14  6.11  3.60
109   0.59      Ideal     E    VVS2   62.0   55.0   2761  5.38  5.43  3.35

### Columns များ၏ တန်ဖိုးများအား ဆွဲထုတ်ခြင်း

In [ ]:
df['carat'][10:15] #carat column မှ ကိုယ်ရချင်သော တန်ဖိုးများအား ဆွဲထုတ်ခြင်း

10    0.30
11    0.23
12    0.22
13    0.31
14    0.20
Name: carat, dtype: float64

In [ ]:
df[['carat','cut']][10:15]#column များ၏ တန်ဖိုးများအား ဆွဲထုတ်ခြင်း

    carat      cut
10   0.30     Good
11   0.23    Ideal
12   0.22  Premium
13   0.31    Ideal
14   0.20  Premium

### .loc and .iloc method

loc နဲ့ iloc က location တွေကနေ row တွေကို ထုတ်ရာတွင် အသုံးဝင်ပါတယ်။ loc က location နဲ့သွားပြီး iloc ကကျတော့ location index တွေနဲ့သွားပါတယ်။

**loc method**

In [ ]:
# df.loc[row_start_index:row_end_index,column_name:column_name] လို့ယျေဘူယျမှတ်ထားပါ။

df.loc[10:15] 

#ရိုးရိုး slicing လုပ်တာနဲ့ loc နဲ့ iloc သုံးတာယှဉ်ကြည့်ရင် ရိုးရိုး slicing က list သဘောသဘာဝနဲ့တူပြီး
#ဒီဟာက ကိုယ်ရချင်တဲ့ row ရဲ့ index number နဲ့ column name လိုတယ်ဆိုတာ အောက်မှာတွေ့ရမှာ ဖြစ်ပါတယ်။

    carat      cut color clarity  depth  table  price     x     y     z
10   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31    Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68

In [ ]:
df.loc[10:15,'carat':'color']#columns များကို ရချင်တဲ့နေရာကနေ စဆုံး slice လုပ်ပြီး ဆွဲထုတ်လို့ရပါတယ်။

    carat      cut color
10   0.30     Good     J
11   0.23    Ideal     J
12   0.22  Premium     F
13   0.31    Ideal     J
14   0.20  Premium     E
15   0.32  Premium     E

In [ ]:
df.loc[10:15,['carat','color']]#ဒီလိုပုံစံနဲ့လည်း ကိုယ်ရချင်တဲ့ columns တွေကို ဆွဲထုတ်လို့ရပါတယ်။

    carat color
10   0.30     J
11   0.23     J
12   0.22     F
13   0.31     J
14   0.20     E
15   0.32     E

**iloc method**

In [ ]:
# df.loc[row_start_index:row_end_index,column_index:column_index] လို့ယျေဘူယျမှတ်ထားပါ။

df.iloc[10:15] 

#ဒီဟာက ကိုယ်ရချင်တဲ့ row ရဲ့ index number နဲ့ column index လိုတယ်ဆိုတာ အောက်မှာတွေ့ရမှာ ဖြစ်ပါတယ်။

    carat      cut color clarity  depth  table  price     x     y     z
10   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31    Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27

In [ ]:
df.iloc[10:15,0:2]#columns များကို ရချင်တဲ့နေရာကနေ စဆုံး slice လုပ်ပြီး ဆွဲထုတ်လို့ရပါတယ်။

    carat      cut
10   0.30     Good
11   0.23    Ideal
12   0.22  Premium
13   0.31    Ideal
14   0.20  Premium

In [ ]:
df.iloc[10:15,[0,2]]

    carat color
10   0.30     J
11   0.23     J
12   0.22     F
13   0.31     J
14   0.20     E

ဒီနေ့တော့ဒီလောက်ပါပဲ။ နောက်လာတဲ့အပိုင်းမှာ loc/iloc သုံးပြီး ဘာတွေဆက်သုံးလို့ရသေးလဲ ဆိုတာဆက်ပြီးရှင်းပြပါမယ်။