<a href="https://colab.research.google.com/github/tomcat472/pandas_mm/blob/main/Pandas_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

## Basic Operation

In [ ]:
# arithemetic operator တွေကိုသုံးပြီး လုပ်သွားမှာဖြစ်ပါတယ်။
print(5+2) #ပေါင်း
print(5-2) #နှုတ်
print(5*2) #မြှောက်
print(5**2) #ထပ်ကိန်းတင်ခြင်း 
print(5%2)  #အကြွင်း
print(5/2)  #အစား
print(5//2) #စားလာဒ်

7
3
10
25
1
2.5
2

In [ ]:
#တန်ဘိုးကို မြန်မာငွေပြောင်းရအောင် (၁)ဒေါ်လာ (၂၀၀၀)နှုန်းနဲ့တွက်ပြီး ရလာတဲ့တန်ဘိုးကို မူရင်း dataframe ထဲမှာ ပြန်ပြီး assign လုပ်ရအောင်။
df['mm_kyats']=df.price * 2000
df.head(3)

   carat      cut color clarity  depth  ...  price     x     y     z  mm_kyats
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43    652000
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31    652000
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31    654000

[3 rows x 11 columns]

In [ ]:
df

       carat        cut color clarity  depth  ...  price     x     y     z  mm_kyats
0       0.23      Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43    652000
1       0.21    Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31    652000
2       0.23       Good     E     VS1   56.9  ...    327  4.05  4.07  2.31    654000
3       0.29    Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63    668000
4       0.31       Good     J     SI2   63.3  ...    335  4.34  4.35  2.75    670000
...      ...        ...   ...     ...    ...  ...    ...   ...   ...   ...       ...
53935   0.72      Ideal     D     SI1   60.8  ...   2757  5.75  5.76  3.50   5514000
53936   0.72       Good     D     SI1   63.1  ...   2757  5.69  5.75  3.61   5514000
53937   0.70  Very Good     D     SI1   62.8  ...   2757  5.66  5.68  3.56   5514000
53938   0.86    Premium     H     SI2   61.0  ...   2757  6.15  6.12  3.74   5514000
53939   0.75      Ideal     D     SI2   62.2  ...   2757  5.83  5.87  3.64   5514000

[53940 rows x 11 columns]

In [ ]:
# Addition
df['sum of x+y+z']=df['x']+df['y']+df['z']
df

       carat        cut color clarity  ...     y     z  mm_kyats  sum of x+y+z
0       0.23      Ideal     E     SI2  ...  3.98  2.43    652000         10.36
1       0.21    Premium     E     SI1  ...  3.84  2.31    652000         10.04
2       0.23       Good     E     VS1  ...  4.07  2.31    654000         10.43
3       0.29    Premium     I     VS2  ...  4.23  2.63    668000         11.06
4       0.31       Good     J     SI2  ...  4.35  2.75    670000         11.44
...      ...        ...   ...     ...  ...   ...   ...       ...           ...
53935   0.72      Ideal     D     SI1  ...  5.76  3.50   5514000         15.01
53936   0.72       Good     D     SI1  ...  5.75  3.61   5514000         15.05
53937   0.70  Very Good     D     SI1  ...  5.68  3.56   5514000         14.90
53938   0.86    Premium     H     SI2  ...  6.12  3.74   5514000         16.01
53939   0.75      Ideal     D     SI2  ...  5.87  3.64   5514000         15.34

[53940 rows x 12 columns]