<a href="https://colab.research.google.com/github/tomcat472/pandas_mm/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering

အရင်တခေါက်က loc/iloc မှာ တခန်းရပ်ခဲ့တယ်ဆိုတော့ ဆရာတို့/ဆရာမတို့အနေဖြင့် ကိုယ့်ဘာသာကို ကျင့်ပြီး နားလည်ပြီလို့ယူဆတဲ့အတွက် ဒီ method တွေကိုအသုံးပြုပြီး filter လုပ်တဲ့ဆီကို လုပ်သွားမှာဖြစ်ပါတယ်။ conditonal operator တွေကိုသုံးပြီး filter လုပ်သွားမှာဖြစ်ပါတယ်။ ပြီးတော့ ကျွန်တော်တို့နှင့်ရင်းနှီးကျွမ်းဝင်တဲ့ data တွေကများသောအားဖြင့် text နဲ့ number တွေဖြစ်ပါတယ်။ ဒီနေရာမှာ ကျွန်တော်ကတော့ အသေးစိတ်မပြောတော့ပါဘူး။ အသေးစိတ်သိချင်ရင် data တွေအကြောင်းကို google မှာ တချက်ရှာကြည့်ပေးပါ။

In [ ]:
import pandas as pd #importing pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

## Basic Filtering

ကျွန်တော်တို့ ပထမဆုံး clarity မှာ VS1 ဖြစ်တဲ့ data တွေကို စပြီးစစ်ထုတ်ပါ့မယ်။  (**ဒီအဆင့်မှာ မှာချင်တာက အမြဲတမ်း data types တွေကို စစ်ပြီးမှ filter လုပ်သင့်ပါတယ်။**)

In [ ]:
df['clarity'].dtypes #ဒီလိုစစ်တဲ့အခါမှာ သူ့ရဲ့ datatype က object ဖြစ်သည်ကို တွေ့ရမှာဖြစ်ပါတယ်။ 
#အဲ့တာကြောင့် object ဆိုတာဟာ string ဖြစ်တဲ့အတွက် value filter လုပ်ရင် string ပုံစံနဲ့စစ်ပေးရမှာဖြစ်ပါတယ်။

dtype('O')

In [ ]:
df['clarity']=='VS1'
#ဒီလိုဆိုရင် ကိုယ်ရချင်တဲ့ VS1 ရှိတဲ့နေရာတွေကို Boolean value(T/F)အဖြစ် တွေ့မြင်ရမှာဖြစ်ပါတယ်။
#True နေရာမှာဆိုရင် ကျနော်တို့ရချင်တဲ့ VS1 ရှိတယ်လို့သိထားရမှာဖြစ်ပြီး False က တခြားဟာတွေဖြစ်ပါတယ်။

0        False
1        False
2         True
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Name: clarity, Length: 53940, dtype: bool

VS1 ရဲ့ အရေအတွက်ကို သိချင်ရင်တော့ အပေါ်က ကျွန်တော်တို့လုပ်ထားတဲ့ function ကို value_counts() method ဖြင့် စစ်နိုင်ပါတယ်။

In [ ]:
(df['clarity']=='VS1').value_counts()
#ဒီနေရာမှာ True တန်ဖိုးက 8171 ဖြစ်သည့်အတွက် VS1 8171 ရှိတယ်ကိုတွေ့ရမှာဖြစ်ပါတယ်။

False    45769
True      8171
Name: clarity, dtype: int64

### value_counts() Method

value_counts() method ဟာ အသုံးဝင်တဲ့ method တခုဖြစ်ပါတယ်။ ကိုယ်သိချင်တဲ့ column ထဲက value တွေဘယ်လောက်ရှိလဲဆိုတာ သိချင်ရင် သုံးပါတယ်။

In [ ]:
df['clarity'].value_counts()

SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

In [ ]:
# value_counts ကိုအသုံးပြုပြီး items အလိုက် ပါဝင်မှု ရာခိုင်နှုန်းကို တွက်လို့ရပါတယ်။
#dropna ကို false ပေးထားတာက values မရှိတဲ့ items တွေကို ဖြုတ်မပစ်အောင်ဖြစ်ပြီး normalizeက stats အသုံးအနှုန်းဖြစ်ပြီး ပါဝင်တဲ့အချိုးအစားတွက်ရင်သုံးပါတယ်။ 
#ပုံမှန်ဆိုရင် percent လုပ်ရင် 100 နဲ့စားရတယ်။ normalize လုပ်ထားတဲ့အဖြေကဟာကို percent ပြန်ပြောင်းမှာဆိုတော့ 100 နဲ့မြှောက်လိုက်တာဖြစ်ပါတယ်။

df.clarity.value_counts(normalize=True, dropna =False)*100

SI1     24.221357
VS2     22.725250
SI2     17.044865
VS1     15.148313
VVS2     9.391917
VVS1     6.776047
IF       3.318502
I1       1.373749
Name: clarity, dtype: float64

ကိုယ့်ရဲ့ filter လုပ်ထားတဲ့ တန်ဖိုးကို df[ ] (သို့) df.loc[ ] ထဲထည့်ပေးရင် Tabular ပုံစံနဲ့မြင်ရမှာဖြစ်ပါတယ်။

In [ ]:
df[df['clarity']=='VS1']
# df.loc[df['clarity']=='VS1']

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
26      0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53901   0.57    Premium     E     VS1   61.6   58.0   2753  5.36  5.33  3.29
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53918   0.76    Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53

[8171 rows x 10 columns]

filter စစ်ထားတဲ့ data တွေကို data frame အသစ်ထဲမှာ ပြန်ပြီး assign လုပ်လို့ရပါတယ်။

In [ ]:
new_df=df[df['clarity']=='VS1']
new_df

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
26      0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53901   0.57    Premium     E     VS1   61.6   58.0   2753  5.36  5.33  3.29
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53918   0.76    Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53

[8171 rows x 10 columns]

ကျွန်တော်တို့ရဲ့ Tabular output မှာ ဘယ်ဘက်က index number တွေ အစဉ်အလိုက်မဖြစ်တာကိုတွေ့ရမှာဖြစ်ပါတယ်။ အဲ့တာကြောင့်မို့ အစဉ်အလိုက်ဖြစ်အောင် ကျွန်တော်တို့အနေနဲ့ reset လုပ်ပေးဖို့လိုပါတယ်။

In [ ]:
new_df.reset_index()

      index  carat        cut color clarity  ...  table  price     x     y     z
0         2   0.23       Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
1         9   0.23  Very Good     H     VS1  ...   61.0    338  4.00  4.05  2.39
2        11   0.23      Ideal     J     VS1  ...   56.0    340  3.93  3.90  2.46
3        22   0.23  Very Good     H     VS1  ...   57.0    353  3.94  3.96  2.41
4        26   0.24    Premium     I     VS1  ...   57.0    355  3.97  3.94  2.47
...     ...    ...        ...   ...     ...  ...    ...    ...   ...   ...   ...
8166  53901   0.57    Premium     E     VS1  ...   58.0   2753  5.36  5.33  3.29
8167  53914   0.84       Good     I     VS1  ...   59.0   2753  5.94  5.90  3.77
8168  53918   0.76    Premium     I     VS1  ...   62.0   2753  5.93  5.85  3.49
8169  53922   0.70  Very Good     D     VS1  ...   59.0   2755  5.67  5.58  3.55
8170  53929   0.71      Ideal     G     VS1  ...   56.0   2756  5.76  5.73  3.53

[8171 rows x 11 columns]

Value တခုထဲကို filter လုပ်တာရပြီဆိုရင် value (၂)ခုကို filter လုပ်ကြည့်ရအောင်။ ကျွန်တော်တို့ ပထမနှစ်က သင်ခဲ့ရတဲ့ logic သဘောသဘာဝအတိုင်းပဲ value(၂)ခုစလုံးရချင်ရင် and နှင့်စစ်ရပြီး value(၂)ခုထဲက (၁)ခုပဲရချင်ရင် or နဲ့စစ်ရပါတယ်။

ဒီတော့ cut က value (၂) ခုကို ထုတ်ကြည့်ရအောင်။

In [ ]:
new_df[(new_df['cut']== 'Good') | (new_df['cut']=='Very Good')]
# | ဒီသင်္ကေတက or ရဲ့ သင်္ကေတဖြစ်ပါတယ်။
#cut column ထဲမှာ ကျွန်တော်တို့ရချင်တဲ့ value တွေဟာ တခုထက်ပိုတဲ့အတွက် or ကို သုံးရချင်းဖြစ်ပါတယ်။

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
29      0.23  Very Good     F     VS1   60.9   57.0    357  3.96  3.99  2.42
30      0.23  Very Good     F     VS1   60.0   57.0    402  4.00  4.03  2.41
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53883   0.70  Very Good     G     VS1   61.4   55.0   2748  5.70  5.74  3.51
53895   0.70       Good     F     VS1   57.8   61.0   2751  5.83  5.79  3.36
53898   0.65  Very Good     D     VS1   60.8   57.2   2752  5.55  5.63  3.40
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55

[2423 rows x 10 columns]

In [ ]:
#filter လုပ်ရင်းနဲ့လည်း reset_index() ကို တိုက်ရိုက်သုံးလို့ရပါတယ်။
new_df[(new_df['cut']== 'Good') | (new_df['cut']=='Very Good')].reset_index()

      index  carat        cut color clarity  ...  table  price     x     y     z
0         2   0.23       Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
1         9   0.23  Very Good     H     VS1  ...   61.0    338  4.00  4.05  2.39
2        22   0.23  Very Good     H     VS1  ...   57.0    353  3.94  3.96  2.41
3        29   0.23  Very Good     F     VS1  ...   57.0    357  3.96  3.99  2.42
4        30   0.23  Very Good     F     VS1  ...   57.0    402  4.00  4.03  2.41
...     ...    ...        ...   ...     ...  ...    ...    ...   ...   ...   ...
2418  53883   0.70  Very Good     G     VS1  ...   55.0   2748  5.70  5.74  3.51
2419  53895   0.70       Good     F     VS1  ...   61.0   2751  5.83  5.79  3.36
2420  53898   0.65  Very Good     D     VS1  ...   57.2   2752  5.55  5.63  3.40
2421  53914   0.84       Good     I     VS1  ...   59.0   2753  5.94  5.90  3.77
2422  53922   0.70  Very Good     D     VS1  ...   59.0   2755  5.67  5.58  3.55

[2423 rows x 11 columns]

ကျွန်တော်တို့အနေနဲ့ Good/ Very Good မဟုတ်တဲ့တန်ဖိုးတွေအားလုံးကို ရချင်ရင် filter ပြန်မလုပ်သင့်ဘဲ not ကို အသုံးပြုသင့်ပါတယ်။ not ရဲ့ သင်္ကေတက ~ ဖြစ်ပါတယ်။

In [ ]:
new_df[~((new_df['cut']== 'Good') | (new_df['cut']=='Very Good'))]

       carat      cut color clarity  depth  table  price     x     y     z
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
26      0.24  Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
51      0.23    Ideal     G     VS1   61.9   54.0    404  3.93  3.95  2.44
60      0.35    Ideal     I     VS1   60.9   57.0    552  4.54  4.59  2.78
104     0.80    Ideal     I     VS1   62.9   56.0   2760  5.94  5.87  3.72
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53892   0.70    Ideal     F     VS1   62.5   56.0   2751  5.73  5.70  3.57
53893   0.70    Ideal     F     VS1   62.0   55.0   2751  5.74  5.71  3.55
53901   0.57  Premium     E     VS1   61.6   58.0   2753  5.36  5.33  3.29
53918   0.76  Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53929   0.71    Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53

[5748 rows x 10 columns]

### မတူညီတဲ့ column (၂)ခုက value များကို Filter လုပ်ခြင်း

In [ ]:
#ဒီနေရာမှာကျွန်တော်က cut က Premium နဲ့ color က G ကို စစ်ထုတ်သွားမှာဖြစ်ပါတယ်။
df[(df['cut']=='Premium') & (df['color']=='G')]

       carat      cut color clarity  depth  table  price     x     y     z
68      0.31  Premium     G     SI1   61.8   58.0    553  4.35  4.32  2.68
85      0.24  Premium     G    VVS1   62.3   59.0    554  3.95  3.92  2.45
103     0.75  Premium     G     VS2   61.7   58.0   2760  5.85  5.79  3.59
106     0.80  Premium     G     SI1   63.0   59.0   2760  5.90  5.81  3.69
140     0.71  Premium     G     VS2   60.9   57.0   2766  5.78  5.75  3.51
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53820   0.71  Premium     G     VS2   63.0   56.0   2735  5.70  5.69  3.59
53835   0.70  Premium     G    VVS2   59.6   61.0   2737  5.86  5.78  3.47
53867   0.76  Premium     G     VS2   61.8   58.0   2744  5.85  5.89  3.63
53880   0.73  Premium     G     VS2   60.7   58.0   2746  5.82  5.87  3.55
53888   0.83  Premium     G     SI2   61.6   57.0   2749  6.06  6.02  3.72

[2924 rows x 10 columns]

In [ ]:
# တကယ်လို့ or ကို သုံးမယ်ဆိုရင် premium နဲ့ green ဖြစ်သမျှဟာတွေကို အားလုံးကို ထုတ်ပြမှာဖြစ်ပါတယ်။
df[(df['cut']=='Premium') | (df['color']=='G')]

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15      0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53929   0.71    Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[22159 rows x 10 columns]

### မတူညီတဲ့ column (၃)ခုက value များကို Filter လုပ်ခြင်း

Number တွေကို filter လုပ်ရင် equal(==),greater than(>), less than(<), greater than or equal (>=) လို အားလုံးနှင့်ရင်းနှီးတဲ့ဟာတွေပဲသုံးမှာပဲဖြစ်လို့ ထွေထွေထူးထူးမရှင်းတော့ပါဘူး။

In [ ]:
df[(df['cut']=='Premium') & (df['color']=='G')& (df['price']>=15000)]

       carat      cut color clarity  depth  table  price     x     y     z
25891   2.02  Premium     G     SI2   63.0   59.0  15014  8.05  7.95  5.03
25940   2.01  Premium     G     SI1   61.8   59.0  15105  8.15  8.09  5.02
25963   2.01  Premium     G     SI2   62.3   60.0  15147  8.04  7.97  4.99
25965   1.73  Premium     G     VS1   62.8   57.0  15151  7.72  7.57  4.80
25969   1.82  Premium     G     SI1   62.7   58.0  15162  7.75  7.68  4.84
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
27670   2.03  Premium     G     VS2   59.6   60.0  18680  8.27  8.21  4.91
27680   2.01  Premium     G     SI2   61.2   57.2  18705  8.08  8.14  4.97
27687   1.70  Premium     G    VVS2   59.8   59.0  18718  7.70  7.75  4.62
27689   1.72  Premium     G    VVS2   61.8   60.0  18730  7.65  7.68  4.74
27725   2.01  Premium     G     SI1   60.3   59.0  18741  8.23  8.15  4.94

[117 rows x 10 columns]

Minimum/Maximum ဖြစ်သောနေရာများအား Filter လုပ်ခြင်း

In [ ]:
# ပထမဆုံးအနေနဲ့ column ရဲ့ max ကို အရင်ရှာရပါမယ်။
df['price'].max()

18823

In [ ]:
# ကိုယ်ရှာထားတဲ့ value ကို မူလ column မှာပြန်ပြီး conditional စစ်လိုက်ရင်အဖြေက ရပါပြီ
df[df['price']==df['price'].max()]

       carat      cut color clarity  depth  table  price    x     y     z
27749   2.29  Premium     I     VS2   60.8   60.0  18823  8.5  8.47  5.16

In [ ]:
df[df['price']==df['price'].min()]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

ဒါနဲ့ပတ်သက်ပြီးတော့ ဒီလောက်ပါပဲ။ နောက်ပိုင်းလိုအပ်တယ့်အစိတ်အပိုင်းတွေကို ဖြေးဖြေးဆီ ပြန်ဖြည့်သွားမှာပါ။